<div class="row" kendo-tooltip k-options="$ctrl.tooltipOptions">
    <div kendo-treemap k-options="$ctrl.treemapOptions" id="treemap"></div>
</div>

<div class="row">
    <button class="btn btn-success col-sm-4 col-sm-offset-4" onclick="window.location.replace('#!/movie/new/')">Create
        new film entry</button>
</div>
<div class="row">
    <ul class="pager">
        <li class="active" ng-repeat="i in [].constructor($ctrl.pages) track by $index"><a
                href="#!/allMovies/{{$index+1}}">{{$index+1}}</a></li>
    </ul>
</div>
<div class="row" ng-repeat="movie in $ctrl.listOfMovies" id="row_{{movie.id}}">
    <div class="col-sm-3">placeholder for image</div>
    <div class="col-sm-7">
        <div class="row">
            <a href="#!/movieDetails/{{movie.id}}">
                <h3>{{movie.name}}</h3>
            </a>
        </div>
        <div class="row">
            <p>{{movie.description}}</p>
        </div>
    </div>
    <div class="col-sm-2" id="bar_{{movie.id}}">
        <span kendo-qrcode k-error-correction="'M'" ng-model="movie.name"
            style="max-width: 250px; margin: 0 auto;"></span>
    </div>
</div>