<div class="row">
</div>
<div class="row">
    <div class="col-sm-3">img placeholder</div>
    <div class="col-sm-9">
        <div class="row">
            <h2>{{$ctrl.movie.name}}</h2><button class="btn btn-xs btn-success" ng-click="$ctrl.openEdit()">Edit this film</button>
        </div>
        <div class="row">
            
            <small ng-repeat="g in $ctrl.genres"><a href="#!/movie/genre/{{g.id}}">{{g.name}}   </a></small>
        </div>
        <div class="row">
            <small>Release date: {{$ctrl.movie.releaseDate}} || {{$ctrl.movie.status}}</small>
        </div>
        <div class="row">
            <small>Country of origin: {{$ctrl.movie.countryName}}</small>
        </div>
        <div class="row">
            <p>{{$ctrl.movie.description}}</p>
        </div>
        <div class="row">
            <p>Duration: {{$ctrl.movie.duration}}</p>
        </div>
        <div class="row">
            <small>Last updated: {{$ctrl.movie.dateLastUpdated}}</small>
        </div>
    </div>
</div>
